.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
}

.header-nav-item {
    padding: 0 30px;
}

.header-nav-list {
    display: flex;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer-logo {
    font-size: 10px;
    padding: 10px 0;
    text-align: center;
}