body {
    margin: 0;
}

.header-logo {
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
}

.main {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.main-item {
    height: 500px;
    font-size: 20px;
    padding: 40px;
    background-color: rgba(169, 169, 169, 0.139);
}

.form-item-text {
    padding: 5px;
}

.form-item-input {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px 0;
    width: 40%;
    background: #eaedf2;
    font-size: 15px;
}

.form-item-category {
    padding: 10px 0;
}

.form-item-btn {
    color: #fff;
    background-color: rgba(0, 0, 255, 0.766);
    border-radius: 6px;
    padding: 10px 0;
    width: 40%;
}

.form-guidance {
    color: #8f8f8f;
    font-size: 15px;
    padding-top: 20px;
}

.entry-item {
    font-size: 15px;
    text-decoration: none;
}

.footer-logo {
    font-size: 10px;
    padding: 10px 0;
    text-align: center;
}

.error-title {
    color: red;
    font-size: 20px;
    font-weight: bold;
}